@model RCStoreMVC.Models.Cart

<ul class="navbar-nav my-2 my-lg-0">
    <li class="nav-item">
        <a href="/Cart" class="nav-link">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <span>₺@Model.TotalPrice()</span>
        </a>
    </li>
</ul>
