@using RCStoreMVC.Entity
@model Product
@{

}
<div class="container">
    <div class="row">
        <div class="col-lg-6 order-1 order-lg-2">
            <div class="product-left">
                <div class="product-image">
                    <div id="product-primary-image" class="rounded">
                        <img id="primary-image" src="~/Images/@Model.Image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row mt-4">
                <div class="col-md-12">
                    <h1>@Model.Marka</h1>
                </div>
            </div>
            <hr />
            <div class="row mt-3">
                <div class="col-md-12">
                    <h3 id="product-price">@Model.Fiyat ₺</h3>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        @Html.HiddenFor(i => i.Id)
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Sepete Ekle
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

