
<ul class="navbar-nav my-2 my-lg-0">


    @if (Request.IsAuthenticated)
    {

        

        <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="/Account">@User.Identity.Name </a>
        </li>
    
        <li class="nav-item">
            <a href="/Account/Logout" class="btn btn-outline-danger giris-btn me-2">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Çıkış
            </a>
        </li>

    }
    else
    {

        <li class="nav-item">
            <a href="/Account/Login" class="btn btn-dark giris-btn btn-sm me-2">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Giriş
            </a>
        </li>

        <li class="nav-item">
            <a href="/account/register" class="btn btn-primary btn-sm">
                Kayıt
            </a>
        </li>
    }

</ul>